n8n Обработка писем с YandexGPT и Deepseek без кодов.json
{
  "name": "Обработка писем с YandexGPT и Deepseek",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "dea82d50-9038-4048-b37d-2dd1eda75219",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "tjjtEmHbl7LFUOdH",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Получаем входные данные\nconst inputItems = $input.all(); // в новых версиях n8n используйте $input.all()\n\n// Определяем массив писем для обработки\nlet emails = [];\n\nif (inputItems.length === 1 && Array.isArray(inputItems[0].json)) {\n    // Случай 1: один элемент, содержащий массив писем\n    emails = inputItems[0].json;\n} else {\n    // Случай 2: каждый элемент — отдельное письмо\n    emails = inputItems.map(item => item.json);\n}\n\n// Функция для извлечения имени отправителя из поля From\nfunction extractSenderName(fromField) {\n    if (!fromField) return '';\n    // Ищем имя в формате \"Имя <email>\" или просто email\n    const match = fromField.match(/^([^<]+)\\s*<[^>]+>/);\n    if (match) {\n        return match[1].trim();\n    }\n    // Если нет угловых скобок, возвращаем всю строку (возможно, это просто email)\n    return fromField;\n}\n\n// Преобразуем каждое письмо в новый формат\nconst outputItems = emails.map(email => {\n    // Преобразование internalDate в дату\n    const internalDate = email.internalDate;\n    let receivedDate = '';\n    if (internalDate) {\n        const timestamp = parseInt(internalDate, 10);\n        if (!isNaN(timestamp)) {\n            receivedDate = new Date(timestamp).toISOString();\n        }\n    }\n\n    return {\n        json: {\n            from: email.From,                 // полный адрес \"Имя <email>\"\n            body: email.snippet,               // текст сниппета\n            subject: email.Subject,             // тема письма\n            senderName: extractSenderName(email.From), // имя отправителя\n            receivedDate: receivedDate          // дата и время в ISO\n        }\n    };\n});\n\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "52696501-714f-4631-8242-10458ffa4614",
      "name": "Упрощение Email"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://llm.api.cloud.yandex.net/foundationModels/v1/completion",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "API-Key Ключ"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"modelUri\": \"gpt://папка/yandexgpt-4-lite/latest\",\n  \"completionOptions\": {\n    \"stream\": false,\n    \"temperature\": 0.2,\n    \"maxTokens\": 5000\n  },\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"text\": \"Работай как опытный специалист по информационной безопасности, который уже 10 лет обрабатывает входящую почту для системного аналитика. Текст сообщения {{ $json.body }} Проанализируй текст письма и верни черновик ответа или обоснование почему ответ не нужен. В результате анализа верни категорию сообщения: Не требует ответа - если это спам-сообщения, рекламные рассылки, подтверждения сервисов, автоматические уведомления, напоминания, которые не требуют ответа. Требует ответа - если письмо предполагает участие пользователя (ответ, уточнение, согласование) оно действительно требует ответа. Создай черновик ответа. Запрос на встречу - если в письме содержится информация о необходимости запланировать встречу. В этом случае подготовь черновик ответа Формат ответа: категория сообщения черновик ответа, если требуется\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        416,
        0
      ],
      "id": "63370ad1-28f5-48bc-a41c-783d97f8ce76",
      "name": "Яндекс анализ письма"
    },
    {
      "parameters": {
        "jsCode": "// Получаем все входящие элементы (в новых версиях n8n)\nconst items = $input.all();\n\n// Функция для извлечения категории и черновика из текста\nfunction parseAssistantText(text) {\n    let emailType = '';\n    let draft = '';\n    \n    if (!text) return { emailType, draft };\n    \n    // Разбиваем на строки и ищем маркеры\n    const lines = text.split('\\n');\n    for (const line of lines) {\n        if (line.startsWith('Категория сообщения:')) {\n            emailType = line.substring('Категория сообщения:'.length).trim();\n        } else if (line.startsWith('Черновик ответа:')) {\n            draft = line.substring('Черновик ответа:'.length).trim();\n        }\n    }\n    \n    return { emailType, draft };\n}\n\n// Преобразуем каждый входящий элемент\nconst outputItems = items.map(item => {\n    // Получаем данные из поля json входящего элемента\n    const data = item.json;\n    \n    // Извлекаем текст сообщения из первой альтернативы\n    const text = data?.result?.alternatives?.[0]?.message?.text || '';\n    \n    // Парсим текст\n    const { emailType, draft } = parseAssistantText(text);\n    \n    // Возвращаем новый элемент с полями emailType и draft\n    return {\n        json: {\n            emailType: emailType,\n            draft: draft\n        }\n    };\n});\n\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "b23313c9-0bdb-4523-8a66-3fca4f95f3aa",
      "name": "Тип письма и черновик"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.emailType }}",
                    "rightValue": "Требует ответа",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f329f1a6-3bbb-40c9-80f2-aef5b7ed814d"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5739e52d-0310-4200-becb-f828b1ddfb01",
                    "leftValue": "={{ $json.emailType }}",
                    "rightValue": "Не требует ответа",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        832,
        0
      ],
      "id": "e7f39d8a-2847-46f8-85e2-fab9360a84db",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1jhfbrlvyZbQ909eTi2z6vbJrtg9ueeSsDeHKaWH4N3I/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jhfbrlvyZbQ909eTi2z6vbJrtg9ueeSsDeHKaWH4N3I/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Краткое содержание": "={{ $json.output }}",
            "Черновик ответа": "={{ $('Тип письма и черновик').item.json.draft }}",
            "Имя отправителя": "={{ $('Упрощение Email').item.json.senderName }}",
            "Email отправителя": "={{ $('Упрощение Email').item.json.from }}",
            "Тема письма": "={{ $('Упрощение Email').item.json.subject }}",
            "Дата и время обработки": "={{ $('Упрощение Email').item.json.receivedDate }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Имя отправителя",
              "displayName": "Имя отправителя",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email отправителя",
              "displayName": "Email отправителя",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Тема письма",
              "displayName": "Тема письма",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Краткое содержание",
              "displayName": "Краткое содержание",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Черновик ответа",
              "displayName": "Черновик ответа",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Дата и время обработки",
              "displayName": "Дата и время обработки",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1392,
        -400
      ],
      "id": "c883e75d-0bd7-4a72-be79-17bcdf5be935",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uAK4J2iJcoR5uWMe",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1jhfbrlvyZbQ909eTi2z6vbJrtg9ueeSsDeHKaWH4N3I/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jhfbrlvyZbQ909eTi2z6vbJrtg9ueeSsDeHKaWH4N3I/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Краткое содержание": "={{ $('Тип письма и черновик').item.json.emailType }}",
            "Черновик ответа": "=",
            "Email отправителя": "={{ $('Упрощение Email').item.json.from }}",
            "Тема письма": "={{ $('Упрощение Email').item.json.subject }}",
            "Имя отправителя": "={{ $('Упрощение Email').item.json.senderName }}",
            "Дата и время обработки": "={{ $('Упрощение Email').item.json.receivedDate }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Имя отправителя",
              "displayName": "Имя отправителя",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email отправителя",
              "displayName": "Email отправителя",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Тема письма",
              "displayName": "Тема письма",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Краткое содержание",
              "displayName": "Краткое содержание",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Черновик ответа",
              "displayName": "Черновик ответа",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Дата и время обработки",
              "displayName": "Дата и время обработки",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1136,
        112
      ],
      "id": "01171397-8360-41ec-b691-ee25b2a14e12",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uAK4J2iJcoR5uWMe",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=MassageID: {{ $('Gmail Trigger').item.json.id }}\nТема письма {{ $('Упрощение Email').item.json.subject }}\nотправитель {{ $('Gmail Trigger').item.json.From }}\nТело письма {{ $('Gmail Trigger').item.json.snippet }}\nВремя получения {{ $('Упрощение Email').item.json.receivedDate }}",
        "options": {
          "systemMessage": "1. Роль: Ты — профессиональный почтовый AI-агент, работающий для Senior Systems Analyst\nТы действуешь как детерминированный процессор workflow, не выдумываешь данные не предполагаешь факты, не добавляешь лишних комментариев, не объясняешь свои рассуждения\nТы работаешь строго по входным данным и подключённым инструментам.\n\n2. Цель: Автоматизировать обработку входящих писем Gmail:\nОпределять:\n- Требует ли письмо ответа.\n- Содержит ли письмо информацию о встрече\n- Было ли письмо уже обработано ранее\n\nФормировать:\nКраткое содержание письма\nЧерновик ответа\nПроверку занятости календаря (если указана встреча)\n\n3. Контекст\nРабочий день заканчивается в 18:00 (локальное время).\nЕсли в письме указана дата и время встречи:\n- необходимо проверить занятость через Google Calendar\n- определить, свободен слот или занят\n- если свободен — вычислить длительность с указанного времени до 18:00\n\n4. Инструкции\nШаг 1. Обязательная проверка повторной обработки\nПеред любыми действиями необходимо проверить, было ли письмо ранее обработано, сверять по теме + времени получения письма в Google Sheets документе.\nЕсли письмо уже обрабатывалось - не делать следующие шаги.\nВерни в ответе строку: \"Письмо попало на повторную обработку\"\nПосле этого завершить выполнение.\n\nШаг 2. Определение типа письма\nОпредели, к какому типу относится письмо на основе пользовательского сообщения:\n- Требует ответа\n- Содержит встречу\n- Встреч не содержит\n\nШаг 3. Формирование черновика\nЕсли письмо требует ответа или содержит обсуждение задачи:\nСформируй краткое профессиональное содержание на русском языке:\nбез эмоций\nбез лишних деталей\nбез интерпретаций\nтолько факты, решения, запросы, дедлайны\n\nШаг 4. Обнаружение встречи\nЕсли в письме указаны:\nконкретная дата\nконкретное время\nНеобходимо:\nИзвлечь дату и время\nПроверить занятость в Google Calendar\nОпределить:\nсвободен слот или занят\nесли свободен — рассчитать длительность до 18:00\n\nШаг 5. Формат вывода информации о встрече\nЕсли встреча обнаружена, после краткого содержания добавить разделитель:\nЕсли слот свободен:\nВаша доступность в календаре в этот день: <перечислить доступные слоты>\nЕсли слот занят:\nСлот в календаре на [дата] в [время] занят, возможные доступные слоты в этот день и перечислить\nЕсли встреч нет:\nНет встреч\n\n5. Формат результата в ответ - краткое содержание с доп информацией и черновик:\n\nПримеры ответов, если назначена встреча: \n1) В ходе обсуждений задачи на интеграцию принято решение провести встречу 10 мая 2026 года в 17:00. Вам нужно принять решение о том когда вам удобно встретиться. Ваша доступность в календаре в этот день с 17:00 до 18:00. \n2) В ходе обсуждений задачи всё хорошо и утверждено.....  Нет встреч\n\n6. Инструменты\nРазрешено использовать:\nGoogle Calendar (проверка занятости)\nGoogle Sheets (чтение записи)\nЗапрещено:\nпредполагать занятость без проверки\nпридумывать даты или время\nмодифицировать данные отправителя\nдобавлять пояснения вне формата\n\n7. Ограничения\nВсегда сначала проверять повторную обработку.\nВсегда соблюдать окончание рабочего дня в 18:00.\nВсегда использовать русский язык.\nНе использовать эмодзи.\nНе выводить рассуждения.\nНе добавлять пояснений.",
          "maxIterations": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1072,
        -400
      ],
      "id": "64b4d8d7-75c8-4890-bc7a-a1ae7baeb23d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 5000,
          "maxRetries": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        1056,
        -192
      ],
      "id": "9c3c3701-177d-44a1-8b54-33b99f3576ba",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "ключ",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Gmail Trigger').item.json.threadId }}",
        "contextWindowLength": 2
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1184,
        -192
      ],
      "id": "f7986855-22e2-4f4e-8842-dde1fdc3cbfa",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "content": "1️⃣ Приём входящих сообщений\nWorkflow принимает входящие письма с вашего Email (не обязательно Gmail).\n\n\n\n\n\n2️⃣ Анализ письма (AI-классификация)\nКаждое письмо должно быть проанализировано и отнесено к одной из категорий:\n\n\n\n🔹 Категория 1 — НЕ требует ответа\n\nК этой категории относятся:\n\nспам-сообщения\n\nрекламные рассылки\n\nподтверждения сервисов\n\nавтоматические уведомления\n\nнапоминания\n\nЧто необходимо сделать:\n\nСформировать краткое содержание письма\n\nЧерновик не требуется.\n\nВ отчете Google Sheets указать: «Не требует внимания»\n\n🔹 Категория 2 — Требует ответа\n\nЕсли письмо предполагает участие пользователя (ответ, уточнение, согласование):\n\nНеобходимо:\n\nСформировать краткое содержание\n\nПодготовить черновик ответа\n\n\n\nВ отчете Google Sheets записать:\nкраткое содержание\nчерновик ответа\n🔹 Категория 3 — Запрос на встречу\n\nЕсли в письме содержится информация о необходимости запланировать встречу:\n\nОпределить:\n\nдату\n\nвремя начала встречи\n\nПроверить занятость календаря на указанный слот.\n\nВ краткое содержание отдельным абзацем добавить:\n\nсвободен ли слот или занят\n\nесли свободен — указать продолжительность доступного времени с начала указанного времени до конца рабочего дня\n\n📌 Рабочий день заканчивается в 18:00.\n\n\n\nПример логики:\nЕсли встреча предлагается в 15:30, то нужно рассчитать доступное время до 18:00 (2 часа 30 минут).\n\n\n\nНеобходимо:\n\nСформировать краткое содержание\n\nПодготовить черновик ответа\n\nВ отчете Google Sheets записать:\nкраткое содержание\nинформация по доступному слоту\nчерновик ответа\n\n\n3️⃣ Запись результата в Google-документ\nПосле обработки письма необходимо внести данные в Google-документ в следующем формате:\n\nИмя отправителя\n\nEmail отправителя\n\nТема письма\n\nКраткое содержание\n\nЧерновик ответа\n\nДата и время обработки\n\nПроверка на повторную обработку\n\nПеред выполнением анализа обязательно проверить:\n\nБыло ли это письмо обработано ранее?\n\n\n\nЕсли письмо уже обработано:\n\nНе создавать встречу\n\nНе формировать краткое содержание\n\nНе готовить черновик ответа\n\nВ Google-документе необходимо записать:\n\n«Письмо попало на повторную обработку»",
        "height": 2256,
        "width": 768
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1040,
        -576
      ],
      "typeVersion": 1,
      "id": "9253918b-498a-4ced-b360-d03513bf21ad",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1jhfbrlvyZbQ909eTi2z6vbJrtg9ueeSsDeHKaWH4N3I/edit?usp=drive_link",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jhfbrlvyZbQ909eTi2z6vbJrtg9ueeSsDeHKaWH4N3I/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1328,
        -192
      ],
      "id": "baf0c64a-77c5-4de9-b01c-f963b3db8554",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uAK4J2iJcoR5uWMe",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "yurievvg@gmail.com",
          "mode": "list",
          "cachedResultName": "yurievvg@gmail.com"
        },
        "timeMax": "={{ $now.plus({ week: 2}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1488,
        -192
      ],
      "id": "432f3fa7-577b-49a3-b502-8489546fd15e",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ClLrj1hfBZQyogeP",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Упрощение Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Упрощение Email": {
      "main": [
        [
          {
            "node": "Яндекс анализ письма",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Яндекс анализ письма": {
      "main": [
        [
          {
            "node": "Тип письма и черновик",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Тип письма и черновик": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3d9c7295-ff83-409a-89e3-e8ef0b8cc2b2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7698ff53b470eca0c2ca96a1ba2c9843ad9a7db8b2ffec4a1c2e3166339ce46a"
  },
  "id": "lYQURaMgnef79HV7",
  "tags": []
}