Workflow n8n Обработка писем с YandexGPT.json
{
  "name": "Обработка писем с YandexGPT",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 8
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "c3590e09-60c1-4ee1-ac42-216eb05e2952",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "tjjtEmHbl7LFUOdH",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Получаем входные данные\nconst inputItems = $input.all(); // в новых версиях n8n используйте $input.all()\n\n// Определяем массив писем для обработки\nlet emails = [];\n\nif (inputItems.length === 1 && Array.isArray(inputItems[0].json)) {\n    // Случай 1: один элемент, содержащий массив писем\n    emails = inputItems[0].json;\n} else {\n    // Случай 2: каждый элемент — отдельное письмо\n    emails = inputItems.map(item => item.json);\n}\n\n// Функция для извлечения имени отправителя из поля From\nfunction extractSenderName(fromField) {\n    if (!fromField) return '';\n    // Ищем имя в формате \"Имя <email>\" или просто email\n    const match = fromField.match(/^([^<]+)\\s*<[^>]+>/);\n    if (match) {\n        return match[1].trim();\n    }\n    // Если нет угловых скобок, возвращаем всю строку (возможно, это просто email)\n    return fromField;\n}\n\n// Преобразуем каждое письмо в новый формат\nconst outputItems = emails.map(email => {\n    // Преобразование internalDate в дату\n    const internalDate = email.internalDate;\n    let receivedDate = '';\n    if (internalDate) {\n        const timestamp = parseInt(internalDate, 10);\n        if (!isNaN(timestamp)) {\n            receivedDate = new Date(timestamp).toISOString();\n        }\n    }\n\n    return {\n        json: {\n            from: email.From,                 // полный адрес \"Имя <email>\"\n            body: email.snippet,               // текст сниппета\n            subject: email.Subject,             // тема письма\n            senderName: extractSenderName(email.From), // имя отправителя\n            receivedDate: receivedDate          // дата и время в ISO\n        }\n    };\n});\n\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "c8385f9f-e8a5-4765-8921-d0a247f9794b",
      "name": "Упрощение Email"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://llm.api.cloud.yandex.net/foundationModels/v1/completion",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "API-Key Ваш ключ"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"modelUri\": \"gpt://folder-id/yandexgpt-4-lite/latest\",\n  \"completionOptions\": {\n    \"stream\": false,\n    \"temperature\": 0.2,\n    \"maxTokens\": 5000\n  },\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"text\": \"Работай как опытный специалист по информационной безопасности, который уже 10 лет обрабатывает входящую почту для системного аналитика. Текст сообщения {{ $json.body }} Проанализируй текст письма и верни черновик ответа или обоснование почему ответ не нужен. В результате анализа верни категорию сообщения: Не требует ответа - если это спам-сообщения, рекламные рассылки, подтверждения сервисов, автоматические уведомления, напоминания, которые не требуют ответа. Требует ответа - если письмо предполагает участие пользователя (ответ, уточнение, согласование) оно действительно требует ответа. Создай черновик ответа. Запрос на встречу - если в письме содержится информация о необходимости запланировать встречу. В этом случае подготовь черновик ответа Формат ответа: категория сообщения черновик ответа, если требуется\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        416,
        0
      ],
      "id": "359399f7-bc51-4f8d-a707-c7b1fa0603d7",
      "name": "Яндекс анализ письма"
    },
    {
      "parameters": {
        "jsCode": "// Получаем все входящие элементы (в новых версиях n8n)\nconst items = $input.all();\n\n// Функция для извлечения категории и черновика из текста\nfunction parseAssistantText(text) {\n    let emailType = '';\n    let draft = '';\n    \n    if (!text) return { emailType, draft };\n    \n    // Разбиваем на строки и ищем маркеры\n    const lines = text.split('\\n');\n    for (const line of lines) {\n        if (line.startsWith('Категория сообщения:')) {\n            emailType = line.substring('Категория сообщения:'.length).trim();\n        } else if (line.startsWith('Черновик ответа:')) {\n            draft = line.substring('Черновик ответа:'.length).trim();\n        }\n    }\n    \n    return { emailType, draft };\n}\n\n// Преобразуем каждый входящий элемент\nconst outputItems = items.map(item => {\n    // Получаем данные из поля json входящего элемента\n    const data = item.json;\n    \n    // Извлекаем текст сообщения из первой альтернативы\n    const text = data?.result?.alternatives?.[0]?.message?.text || '';\n    \n    // Парсим текст\n    const { emailType, draft } = parseAssistantText(text);\n    \n    // Возвращаем новый элемент с полями emailType и draft\n    return {\n        json: {\n            emailType: emailType,\n            draft: draft\n        }\n    };\n});\n\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "a65169ff-1994-4201-a69d-5241aca9201c",
      "name": "Тип письма и черновик"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.emailType }}",
                    "rightValue": "Не требует ответа",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f329f1a6-3bbb-40c9-80f2-aef5b7ed814d"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5739e52d-0310-4200-becb-f828b1ddfb01",
                    "leftValue": "={{ $json.emailType }}",
                    "rightValue": "Требует ответа",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "166e5e8e-0886-45ef-a75a-89aea1fdc790",
                    "leftValue": "={{ $json.emailType }}",
                    "rightValue": "Запрос на встречу",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        832,
        0
      ],
      "id": "0d8df7f7-6ad8-453d-b5fa-fd3d8aa909bd",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1jhfbrlvyZbQ909eTi2z6vbJrtg9ueeSsDeHKaWH4N3I/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jhfbrlvyZbQ909eTi2z6vbJrtg9ueeSsDeHKaWH4N3I/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Краткое содержание": "={{ $json.emailType }}",
            "Черновик ответа": "={{ $json.draft }}",
            "Имя отправителя": "={{ $('Упрощение Email').item.json.senderName }}",
            "Email отправителя": "={{ $('Упрощение Email').item.json.from }}",
            "Тема письма": "={{ $('Упрощение Email').item.json.subject }}",
            "Дата и время обработки": "={{ $('Упрощение Email').item.json.receivedDate }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Имя отправителя",
              "displayName": "Имя отправителя",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email отправителя",
              "displayName": "Email отправителя",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Тема письма",
              "displayName": "Тема письма",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Краткое содержание",
              "displayName": "Краткое содержание",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Черновик ответа",
              "displayName": "Черновик ответа",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Дата и время обработки",
              "displayName": "Дата и время обработки",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1104,
        -256
      ],
      "id": "8ea9f86c-c137-4427-b100-a2cedf05b38d",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uAK4J2iJcoR5uWMe",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "yurievvg@gmail.com",
          "mode": "list",
          "cachedResultName": "yurievvg@gmail.com"
        },
        "timeMax": "={{ $now.plus({ week: 2 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1040,
        112
      ],
      "id": "b9cb339c-c8ad-4508-85c7-ed41fcdf477c",
      "name": "Get many events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ClLrj1hfBZQyogeP",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1jhfbrlvyZbQ909eTi2z6vbJrtg9ueeSsDeHKaWH4N3I/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jhfbrlvyZbQ909eTi2z6vbJrtg9ueeSsDeHKaWH4N3I/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Краткое содержание": "={{ $('Тип письма и черновик').item.json.emailType }}\nУ Вас уже запланированны встречи с {{ $json.start.dateTime }} по {{ $json.end.dateTime }}\nПроверьте свой календарь",
            "Черновик ответа": "={{ $('Тип письма и черновик').item.json.draft }}",
            "Email отправителя": "={{ $('Упрощение Email').item.json.from }}",
            "Тема письма": "={{ $('Упрощение Email').item.json.subject }}",
            "Имя отправителя": "={{ $('Упрощение Email').item.json.senderName }}",
            "Дата и время обработки": "={{ $('Упрощение Email').item.json.receivedDate }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Имя отправителя",
              "displayName": "Имя отправителя",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email отправителя",
              "displayName": "Email отправителя",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Тема письма",
              "displayName": "Тема письма",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Краткое содержание",
              "displayName": "Краткое содержание",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Черновик ответа",
              "displayName": "Черновик ответа",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Дата и время обработки",
              "displayName": "Дата и время обработки",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1248,
        112
      ],
      "id": "cb0848aa-4d21-4bc6-adf8-f3635d78d5e2",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uAK4J2iJcoR5uWMe",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Упрощение Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Упрощение Email": {
      "main": [
        [
          {
            "node": "Яндекс анализ письма",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Яндекс анализ письма": {
      "main": [
        [
          {
            "node": "Тип письма и черновик",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Тип письма и черновик": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "79db62a0-57e4-4e86-9d79-8c65d6bdc238",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7698ff53b470eca0c2ca96a1ba2c9843ad9a7db8b2ffec4a1c2e3166339ce46a"
  },
  "id": "3RAGcyxsBHPbp8lH",
  "tags": []
}