Чат-бот отеля в Telegram без кодов.json
{
  "name": "Чат-бот отеля в Telegram",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1hQwxiKoFm_CfnEGo1pb495_nRu6cpYm7PUZVGmLiayc/edit?gid=63409147#gid=63409147",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 63409147,
          "mode": "list",
          "cachedResultName": "user_chat_session",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hQwxiKoFm_CfnEGo1pb495_nRu6cpYm7PUZVGmLiayc/edit#gid=63409147"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "chat_id",
              "lookupValue": "={{ $json.chat_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2208,
        608
      ],
      "id": "08e23daf-6b82-4efb-9300-466bc8380908",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eNZS8k7TncS8BiVG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3696e8b5-5124-42e6-b2c7-9c2c7f5ef6cc",
              "leftValue": "={{ $json.row_number }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2000,
        608
      ],
      "id": "ecb20a68-8e35-4188-abff-622a61ae4d6c",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1hQwxiKoFm_CfnEGo1pb495_nRu6cpYm7PUZVGmLiayc/edit?gid=63409147#gid=63409147",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 63409147,
          "mode": "list",
          "cachedResultName": "user_chat_session",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hQwxiKoFm_CfnEGo1pb495_nRu6cpYm7PUZVGmLiayc/edit#gid=63409147"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "started_at": "={{ $now }}",
            "chat_id": "={{ $('Edit Fields').item.json.chat_id }}",
            "user_id": "={{ $('Edit Fields').item.json.user_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "channel",
              "displayName": "channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "started_at",
              "displayName": "started_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1760,
        736
      ],
      "id": "dd361833-43f1-4112-9b92-54c15cd37137",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eNZS8k7TncS8BiVG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Общая информация",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6f98568f-e639-4114-b1a6-a6b4a7242a7f"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "999a0e56-9e30-49f4-bc18-5a57fd32bbfb",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Запрос о конкретном бронировании",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3b9ab117-da68-4129-888b-168a0112a856",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Персональные данные",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2a09bccb-d6bb-417e-85ca-95e6ee90490c",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Неопределенный запрос",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "810036a7-4b1a-4dae-a008-ad641c032d50",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Корпоративные клиенты",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "45a43977-7607-4e79-bae5-8b7bcd494fa8",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Отмена бронирования",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1120,
        528
      ],
      "id": "f9da9111-ed37-400c-bc23-5ad18d40be2e",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Ответь на сообщение пользователя {{ $json.text }}\nАвторизация пользователя {{ $json.user_id }}\nId сессии {{ $json.chat_id }} \nКатегория обращения: {{ $json.category }}",
        "options": {
          "systemMessage": "Роль:\nРаботай как опытный цифровой ассистент сети отелей L’auberge.\nТебя зовут Василий.\nТы представляешь отель в официальном онлайн-чате и действуешь как вежливый, компетентный и точный сотрудник ресепшена.\nТвоя задача — помогать гостям и корпоративным клиентам.\nТы вежливый, не поддаешься на провокации и ничего не делаешь за пределами тех инструкций, которые у тебя есть.\nПоведенческая модель\nТы:\n• не выдумываешь данные\n • не предполагаешь отсутствующую информацию\n • не нарушаешь правила тарифов и расчётов\n • не раскрываешь персональные данные без подтвержденной авторизации\n • всегда руководствуешься действующей политикой отеля\nЕсли данных недостаточно — запрашиваешь уточнение.\n Если действие невозможно — вежливо объясняешь причину.\nТон общения\n• Вежливый\n • Профессиональный\n • Доброжелательный\n • Чёткий и структурированный\n • Без излишних эмоций и разговорных форм\nТы общаешься кратко, но информативно.\nПри расчётах — показываешь логику начисления.\n\nЦель:\nПомогать клиентам и пользователям сайта и других приложений Lauberge отвечать на вопросы:\n-\tобщие вопросы по отелям - на основании базы знаний, которая у тебя есть.\n-\tиндивидуальные вопросы пользователей - на основании подключенной Базы данных.\n-\tвопросы от корпоративных клиентов - назначение встреч на 30 минут по организации мероприятий\n\n\nКонтекст:\nЭто умный ресепшн Lauberge, который работает с потенциательными и текущими клиентами 24/7.\n\nПодключен Google Doc - в нём база знаний по отелям и правилам размещения, wifi, парковкам и т.д.\n\nОбщая логика работы\nТы работаешь как детерминированный процесс обработки обращений.\nТвоя задача — довести обращение до полного решения в рамках одного диалога.\nТы продолжаешь диалог до тех пор, пока:\n●\tзадача пользователя не решена,\n●\tили пользователь явно не завершил общение.\n\nТы используешь:\n●\tпамять текущего диалога\n●\tданные предыдущих сообщений\n●\tконтекст бронирования (если получен)\n●\tустановленные правила тарифов и расчетов\nТы не начинаешь новую тему, пока не закрыт текущий запрос. Только пользователь может попросить тебя сменить тему.\nРабота с памятью диалога\nТы обязан:\n• запоминать номер бронирования\n • запоминать ФИО гостя\n • запоминать тариф\n • запоминать даты проживания\n • запоминать статус авторизации\n • запоминать ранее принятые решения\nЕсли информация уже получена ранее в диалоге — повторно не запрашивать её.\nЕсли пользователь возвращается к теме бронирования в рамках диалога — использовать сохранённый контекст.\n\nЕсли ты не знаешь как ответить на вопрос, всегда включай контакты ресепшена отеля в ответ.\nКонтакты: [reception@laubergega.com](mailto:reception@laubergega.com), +1 999 888 77 88\nИнструкции:\n\nШаг 0. Проверять авторизацию:\nАвторизация проверяется по user_id. Если user_id отсутствует, то показывать информацию только об одном бронировании, но запретить менять его. Если же бронирование принадлежит авторизованному пользователю, то изменения бронирования разрешены.\nБез авторизации:\n●\tне раскрывать детали бронирования\n●\tне раскрывать персональные данные\n●\tне производить изменения\n\nШаг 1. Обработка запроса в зависимости от его классификации.\nКатегория A — Общая информация\nВопросы об отеле:\n●\tвремя заезда / выезда\n●\tпарковка\nзавтрак\n●\tи так далее\nВсё, что есть в Google Doc базе данных.\n\n👉 Авторизация не требуется.\nПроверить есть ли данные в google-документе с базой знаний отеля. \nЕсли данные есть,то вернуть краткую информацию для клиента на основании базы знаний. Если данных в документе нет, то извиниться и предложить связаться с поддержкой L’auberge.\nпредоставить четкий ответ\nпри наличии формул — применить правила расчета\nне добавлять лишних комментариев\n\n\n—--\n\nКатегория B — Запрос о конкретном бронировании\n●\tузнать статус бронирования\n\n●\tузнать тариф\n●\tдругая доп  информация\n\n👉 Требуется проверка авторизации.\nЕсли у пользователя запрос о конкретном бронировании,то получи информацию о нём из БД в Google Sheet. Важно, что нельзя возвращать информацию о чужих бронированиях.\nЕсли пользователь запросит список бронирований, то верни их номера + даты аккуратно отсортированные и спроси у пользователя информацию о каком бронировании он хочет.\nЕсли пользователь не авторизован, то возвращать информацию о бронировании, только если он назвал точную связку номера бронирования и фамилии.\nЕсли авторизованный пользователь пытается запросить информацию о чужом бронировании и при этом даже угадал фамилию и номер, то не возвращать ее и реагировать ошибкой.\n\nЕсли надо поменять бронирование (статус на отменен или возвращено), то смени статус в Google Sheets. \nОтменено = cancelled\nВозвращено = refunded\nОбязательно запроси подтверждение пользователя. В комментарий добавь про “Отменено/Возвращено AI-ассистентом”. \nОтменять и возвращать можно только те бронирования, которые имеют статус confirmed и начинаются более чем через 24 часа.\n\n—--\nКатегория C — Персональные данные\n●\tпоказать мои бронирования\n\n●\tпоказать мои контакты\n\n●\tподтвердить email / телефон\n\n●\tпредоставить документы по конкретному гостю\n\n👉 Требуется строгая авторизация.\n👉 Данные частично маскируются.\nЕсли пользователь запросил персональные данные о нём, то маскировать их. \nПравила маскирования:\n- для телефона: только первые 2 и последние 5 цифр,\n- для email: только первые 2 и символы после @,\n- для фамилии: показывать только первую букву.\n—--\n\nКатегория D — Неопределенный запрос\nЕсли запрос неясен — задать уточняющий вопрос.\nЕсли после уточняющего запроса нет решения, то переключить диалог на оператора\nВернуть сообщение по умолчанию:  \n“Извините,  мы не можем ответить на ваш вопрос. Ресепшен L'auberge GA работает круглосуточно, 24 часа в сутки без выходных. Вы можете связаться с нами по телефону +1 999 888 77 88 или по электронной почте [reception@laubergega.com](mailto:reception@laubergega.com). Если будут еще вопросы - пишите!”\n\n—---\nПринцип завершения диалога:\nДиалог считается завершенным только если:\n✔ пользователь подтвердил решение\n ✔ действие выполнено\n ✔ пользователь явно написал, что вопрос закрыт\nВ конце можно задать:\n«Могу ли я ещё чем-то помочь?»\n\n\nИнструменты:\nGoogle Doc\nGoogle Calendar\nGoogle Sheets\nGmail\nПравила и ограничения:\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -320,
        64
      ],
      "id": "daa284c3-b77a-47c1-a98e-51a7f4f270a7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1gVVjujAVN822kYSh2njf9jMuXAjQFBnmYaetCKbo6Ys/edit?usp=drive_link"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        -96,
        256
      ],
      "id": "2e03e8f4-7912-4f1d-9ada-1260a271722f",
      "name": "База знаний",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "ydwyL1FDYNAkGiqA",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "maxRetries": 5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -368,
        256
      ],
      "id": "9ba79090-1519-4a8c-a89a-bd69f3e4e79f",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "Ключ DeepSeek",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Сообщение пользователя {{ $('Telegram Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": " Определи категорию сообщения. Категория A — Общая информация. Вопросы об отеле, например время заезда / выезда, парковка, завтрак. Категория B — Запрос о конкретном бронировании. Узнать статус бронирования, узнать тариф, другая дополнительная информация о бронировании. Категория C — Персональные данные - сообщение о моих контактных данных, о моем email, о моем телефоне, предоставлении документов по конкретному гостю. Категория D — Неопределенный запрос, если сообщение не содержит конкретной информации, позволяющей отнести его к категориям A, B, C, E или F, отсутствуют детали тексте и нет поминания о бронировании, персональных данных или корпоративных мероприятиях, если в сообщении не достаточно контекста для точной классификации. Категория E - Корпоративные клиенты — запрос на встречу, запрос на устройство, организацию, бронирование для компании: праздник, свадьба, конференция и другие мероприятия, которые можно проводить в отелях, групповое размещение, договор, счет. Включает упоминания компании/организации, запросы на корпоративные тарифы, бронирование конференц-залов, групповые размещения от 5 человек, оформление корпоративных договоров Категория F - Отмена бронирования. \n\nВ результате выводи название категории сообщения, строго: Общая информация, Запрос о конкретном бронировании, Персональные данные, Неопределенный запрос, Корпоративные клиенты, Отмена бронирования."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1472,
        592
      ],
      "id": "9e663c4b-ad99-47e0-b74d-f5a08cbe509f",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {
          "maxRetries": 5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -1472,
        816
      ],
      "id": "bdf0d940-371b-40c4-97db-d2a1f09931df",
      "name": "DeepSeek Chat Model1",
      "credentials": {
        "deepSeekApi": {
          "id": "Ключ DeepSeek",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -816,
        192
      ],
      "id": "a9cbb2cd-e33b-44bf-931e-9c8ae7c8be70",
      "name": "Merge",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1hQwxiKoFm_CfnEGo1pb495_nRu6cpYm7PUZVGmLiayc/edit?gid=63409147#gid=63409147",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "user",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hQwxiKoFm_CfnEGo1pb495_nRu6cpYm7PUZVGmLiayc/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        48,
        240
      ],
      "id": "c7ebe890-d4da-4b14-bca5-8eb53eef76b0",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eNZS8k7TncS8BiVG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1hQwxiKoFm_CfnEGo1pb495_nRu6cpYm7PUZVGmLiayc/edit?gid=63409147#gid=63409147",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 63409147,
          "mode": "list",
          "cachedResultName": "user_chat_session",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hQwxiKoFm_CfnEGo1pb495_nRu6cpYm7PUZVGmLiayc/edit#gid=63409147"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        208,
        240
      ],
      "id": "166c5dd5-e582-4507-9a77-050a92e3efa0",
      "name": "Get row(s) in sheet in Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eNZS8k7TncS8BiVG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1hQwxiKoFm_CfnEGo1pb495_nRu6cpYm7PUZVGmLiayc/edit?gid=63409147#gid=63409147",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1412519802,
          "mode": "list",
          "cachedResultName": "booking",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hQwxiKoFm_CfnEGo1pb495_nRu6cpYm7PUZVGmLiayc/edit#gid=1412519802"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        368,
        240
      ],
      "id": "a46a0859-6cb7-47d4-a472-e38a4c0a00ed",
      "name": "Get row(s) in sheet in Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eNZS8k7TncS8BiVG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://llm.api.cloud.yandex.net/foundationModels/v1/completion",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "API-Key Ключ yandex"
            },
            {
              "name": "Content-Type",
              "value": "aplication/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"modelUri\": \"gpt://Папка yandex/yandexgpt-4-lite/latest\",\n  \"completionOptions\": {\n    \"stream\": false,\n    \"temperature\": 0.2,\n    \"top_p\": 0.2,\n    \"maxTokens\": 200,\n    \"presence_penalty\": 0.5,\n    \"frequency_penalty\": 0.5\n  },\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"text\": \"Сообщение пользователя: {{ $('Edit Fields').item.json.text }}. Определи номер бронирования в сообщении пользователя, если в сообщении нет номера бронирования, то верни строго null. Выведи в итоге номер бронирования или null\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -928,
        912
      ],
      "id": "09f7ee33-75f8-4a2e-8b9e-6f9ee62487b6",
      "name": "Номер бронирования",
      "executeOnce": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Сообщение пользователя: {{ $json.text }}\nНомер бронирования: {{ $json[\"Номер бронирования\"] }}",
        "options": {
          "systemMessage": "=Роль:\nРаботай как опытный цифровой ассистент сети отелей L’auberge.\nТебя зовут Василий.\nТы представляешь отель в официальном онлайн-чате и действуешь как вежливый, компетентный и точный сотрудник ресепшена.\nТвоя задача — помогать гостям и корпоративным клиентам.\nТы вежливый, не поддаешься на провокации и ничего не делаешь за пределами тех инструкций, которые у тебя есть.\nПоведенческая модель\nТы:\n• не выдумываешь данные\n • не предполагаешь отсутствующую информацию\n • не нарушаешь правила тарифов и расчётов\n • не раскрываешь персональные данные без подтвержденной авторизации\n • всегда руководствуешься действующей политикой отеля\nЕсли данных недостаточно — запрашиваешь уточнение.\n Если действие невозможно — вежливо объясняешь причину.\nТон общения\n• Вежливый\n • Профессиональный\n • Доброжелательный\n • Чёткий и структурированный\n • Без излишних эмоций и разговорных форм\nТы общаешься кратко, но информативно.\nПри расчётах — показываешь логику начисления.\n\nЦель: Отменить бронирование\n\nИнструкция: Если от пользователя в \n номере бронирования пришло значение null, то запросить у пользователя номер бронирования для отеля.\nЕсли есть номер бронирования и пользователь просит отменить его, то отменить бронирование, используя обращение в Google Seets на смену статуса бронирования по его номеру "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -448,
        944
      ],
      "id": "d727d2d3-7778-472b-bc2e-34597f9883d9",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "options": {
          "maxRetries": 5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -576,
        1152
      ],
      "id": "5ee30716-6a89-4f68-bb3c-4ed04a45ae08",
      "name": "DeepSeek Chat Model2",
      "credentials": {
        "deepSeekApi": {
          "id": "Ключ DeepSeek",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields3').item.json.chat_id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -432,
        1152
      ],
      "id": "acf98fbf-3622-49f5-8585-4ec1649d4475",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Получить информацию о бронированиях",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1hQwxiKoFm_CfnEGo1pb495_nRu6cpYm7PUZVGmLiayc/edit?gid=1412519802#gid=1412519802",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1412519802,
          "mode": "list",
          "cachedResultName": "booking",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hQwxiKoFm_CfnEGo1pb495_nRu6cpYm7PUZVGmLiayc/edit#gid=1412519802"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -288,
        1152
      ],
      "id": "e1735bd1-2072-40ed-8cb5-adab6d571e43",
      "name": "Get row(s) in sheet in Google Sheets3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eNZS8k7TncS8BiVG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1hQwxiKoFm_CfnEGo1pb495_nRu6cpYm7PUZVGmLiayc/edit?gid=1412519802#gid=1412519802",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1412519802,
          "mode": "list",
          "cachedResultName": "booking",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hQwxiKoFm_CfnEGo1pb495_nRu6cpYm7PUZVGmLiayc/edit#gid=1412519802"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "cancelled",
            "number": "={{ $('Edit Fields3').item.json[\"Номер бронирования\"] }}"
          },
          "matchingColumns": [
            "number"
          ],
          "schema": [
            {
              "id": "number",
              "displayName": "number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "paid_at",
              "displayName": "paid_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "comment_about_cancelletion",
              "displayName": "comment_about_cancelletion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "starts_at",
              "displayName": "starts_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "finishes_at",
              "displayName": "finishes_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "breakfast_included",
              "displayName": "breakfast_included",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "result",
              "displayName": "result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "toolCallId",
              "displayName": "toolCallId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -128,
        1152
      ],
      "id": "311fb767-d5cd-41a4-95d9-1f8610ae6e66",
      "name": "Append or update row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eNZS8k7TncS8BiVG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Сообщение пользователя: {{ $json.text }}\nEmail пользователя: {{ $json.email }}",
        "options": {
          "systemMessage": "Роль:\nРаботай как опытный цифровой ассистент сети отелей L’auberge.\nТебя зовут Василий.\nТы представляешь отель в официальном онлайн-чате и действуешь как вежливый, компетентный и точный сотрудник ресепшена.\nТвоя задача — помогать гостям и корпоративным клиентам.\nТы вежливый, не поддаешься на провокации и ничего не делаешь за пределами тех инструкций, которые у тебя есть.\nПоведенческая модель\nТы:\n• не выдумываешь данные\n • не предполагаешь отсутствующую информацию\n • не нарушаешь правила тарифов и расчётов\n • не раскрываешь персональные данные без подтвержденной авторизации\n • всегда руководствуешься действующей политикой отеля\nЕсли данных недостаточно — запрашиваешь уточнение.\n Если действие невозможно — вежливо объясняешь причину.\nТон общения\n• Вежливый\n • Профессиональный\n • Доброжелательный\n • Чёткий и структурированный\n • Без излишних эмоций и разговорных форм\nТы общаешься кратко, но информативно.\nПри расчётах — показываешь логику начисления.\n\nТвоя задача:\n\n1. Определить формат мероприятия (event_type), если пользователь не указал.\n2. Запросить дату проведения.\n3. Запросить время начала.\n4. Запросить длительность мероприятия в минутах.\n5. Запросить предполагаемое количество участников.\n6. Запросить контактный email.\n7. Проверить доступность времени в Get many events in Google Calendar.\n8. Если слот свободен — запросить подтверждение.\n9. После подтверждения — создать мероприятие, событие в Create an event in Google Calendar. \n участник 1: services@lauberge.com\n участник 2: email пользователя.\nПри создании мероприятия учитывать временную зону пользователя.\n10. Сообщить пользователю об успешном создании встречи.\n\nПравила:\n\n- Всегда собирай данные пошагово.\n- Если от пользователя в email пришло значение null, то использовать обращение в Google Seets. Если есть адрес, то указать его пользователю и подтвердить , что будет использоваться этот email. Если в Google Seets нет email пользователя или пользователь не подтвердил email, то запросить у пользователя email.\n- Не вызывай create_calendar_event без подтверждения пользователя.\n- Используй tools только при наличии всех необходимых данных.\n- Если слот занят — предложи альтернативные варианты.\n- Если длительность не указана — уточни её.\n- Если количество участников не указано — уточни его.\n- После создания события завершай диалог.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -320,
        512
      ],
      "id": "5c9293c8-afca-4ee6-a545-e43d162d0279",
      "name": "AI Agent3"
    },
    {
      "parameters": {
        "options": {
          "maxRetries": 7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -480,
        720
      ],
      "id": "c966ac7e-eb31-4fb7-9681-3105e0beb9a9",
      "name": "DeepSeek Chat Model3",
      "credentials": {
        "deepSeekApi": {
          "id": "Ключ DeepSeek",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields2').item.json.chat_id }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -336,
        720
      ],
      "id": "a6a9b4e1-d0ed-4c65-8e3f-a2462cc0999e",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1hQwxiKoFm_CfnEGo1pb495_nRu6cpYm7PUZVGmLiayc/edit?gid=1412519802#gid=1412519802",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "user",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hQwxiKoFm_CfnEGo1pb495_nRu6cpYm7PUZVGmLiayc/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -160,
        720
      ],
      "id": "c98b6b71-25a3-4c1e-ac5c-d0230fc90765",
      "name": "Get row(s) in sheet in Google Sheets4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eNZS8k7TncS8BiVG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "yurievvg@gmail.com",
          "mode": "list",
          "cachedResultName": "yurievvg@gmail.com"
        },
        "timeMax": "={{ $now.plus({ month: 3 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        0,
        720
      ],
      "id": "7d77da20-9e5f-4f24-aae7-79ae0c67dce1",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "HOsP4mg6Cv2xcLdJ",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "yurievvg@gmail.com",
          "mode": "list",
          "cachedResultName": "yurievvg@gmail.com"
        },
        "start": "={{ $fromAI('Start', ``, 'string') }}",
        "end": "={{ $fromAI('End', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        160,
        720
      ],
      "id": "4707ee8a-3ba3-4714-b1a3-4f94c080eaf2",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "HOsP4mg6Cv2xcLdJ",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://llm.api.cloud.yandex.net/foundationModels/v1/completion",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "API-Key yandex ключ"
            },
            {
              "name": "Content-Type",
              "value": "aplication/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"modelUri\": \"gpt://Папка Яндекс/yandexgpt-4-lite/latest\",\n  \"completionOptions\": {\n    \"stream\": false,\n    \"temperature\": 0.2,\n    \"top_p\": 0.2,\n    \"maxTokens\": 200,\n    \"presence_penalty\": 0.5,\n    \"frequency_penalty\": 0.5\n  },\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"text\": \"Сообщение пользователя: {{ $('Edit Fields').item.json.text }}. Определи email пользователя в сообщении пользователя, если в сообщении нет его email, то верни null. Выведи в итоге email или null\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -784,
        576
      ],
      "id": "f440b2f7-eb23-46fa-a772-c4dffc74a910",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2576,
        608
      ],
      "id": "9cb27ce0-ccdd-42f1-bb8f-dbe931907d8e",
      "name": "Telegram Trigger",
      "webhookId": "4530d33b-6e1a-4c30-ac41-1553ae6c6d6c",
      "credentials": {
        "telegramApi": {
          "id": "Ключ Бота",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields1').item.json.chat_id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        160,
        -16
      ],
      "id": "82eb8351-fd11-4e28-aaa4-bb68b6ce269f",
      "name": "Send a text message",
      "webhookId": "1fe164a1-1775-440c-b938-4f67fb5d5e71",
      "alwaysOutputData": false,
      "credentials": {
        "telegramApi": {
          "id": "Ключ Бота",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields1').item.json.chat_id }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -224,
        272
      ],
      "id": "549cbdd4-96a7-4f55-8caa-0a7948b5875d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"chat_id\": \"{{ $json.message.chat.id }}\",\n  \"text\": \"{{ $json.message.text }}\",\n  \"user_id\":\"3f9c8e62-7a2b-4b1e-9a54-6d4e2c7f1a90\"\n}\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2384,
        608
      ],
      "id": "4d8a8ae2-ef6a-4426-a80d-546538bca7d5",
      "name": "Edit Fields",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3f8491e8-061d-4107-9243-1313df3edfd5",
              "name": "chat_id",
              "value": "={{ $('Edit Fields').item.json.chat_id }}",
              "type": "string"
            },
            {
              "id": "629e78a5-a23e-4857-8766-a36e00403329",
              "name": "text",
              "value": "={{ $('Edit Fields').item.json.text }}",
              "type": "string"
            },
            {
              "id": "e15aadb3-4ff6-4644-ba06-c6012007d824",
              "name": "user_id",
              "value": "={{ $('Edit Fields').item.json.user_id }}",
              "type": "string"
            },
            {
              "id": "c6ffd2cd-dd60-41e1-b2ac-917b2eb07b43",
              "name": "category",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -608,
        144
      ],
      "id": "2e9e953c-cddc-4c05-9be4-33c03101261a",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields2').item.json.chat_id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        48,
        512
      ],
      "id": "bd3f300f-0331-4ea1-88c5-cbcfa85e5dff",
      "name": "Send a text message1",
      "webhookId": "1fe164a1-1775-440c-b938-4f67fb5d5e71",
      "alwaysOutputData": false,
      "credentials": {
        "telegramApi": {
          "id": "Ключ Бота",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields3').item.json.chat_id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -80,
        944
      ],
      "id": "57d8278d-7c33-40b9-902d-7c6489264f40",
      "name": "Send a text message2",
      "webhookId": "1fe164a1-1775-440c-b938-4f67fb5d5e71",
      "alwaysOutputData": false,
      "credentials": {
        "telegramApi": {
          "id": "Ключ Бота",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3f8491e8-061d-4107-9243-1313df3edfd5",
              "name": "chat_id",
              "value": "={{ $('Edit Fields').item.json.chat_id }}",
              "type": "string"
            },
            {
              "id": "629e78a5-a23e-4857-8766-a36e00403329",
              "name": "text",
              "value": "={{ $('Edit Fields').item.json.text }}",
              "type": "string"
            },
            {
              "id": "e15aadb3-4ff6-4644-ba06-c6012007d824",
              "name": "user_id",
              "value": "={{ $('Edit Fields').item.json.user_id }}",
              "type": "string"
            },
            {
              "id": "c6ffd2cd-dd60-41e1-b2ac-917b2eb07b43",
              "name": "category",
              "value": "={{ $('Switch').item.json.output }}",
              "type": "string"
            },
            {
              "id": "fc100e0b-e52b-4fd1-8a7f-b51f83b499ac",
              "name": "email",
              "value": "={{ $json.result.alternatives[0].message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -528,
        512
      ],
      "id": "91089711-e991-44e0-8bbc-df5780146e63",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3f8491e8-061d-4107-9243-1313df3edfd5",
              "name": "chat_id",
              "value": "={{ $('Edit Fields').item.json.chat_id }}",
              "type": "string"
            },
            {
              "id": "629e78a5-a23e-4857-8766-a36e00403329",
              "name": "text",
              "value": "={{ $('Edit Fields').item.json.text }}",
              "type": "string"
            },
            {
              "id": "e15aadb3-4ff6-4644-ba06-c6012007d824",
              "name": "user_id",
              "value": "={{ $('Edit Fields').item.json.user_id }}",
              "type": "string"
            },
            {
              "id": "c6ffd2cd-dd60-41e1-b2ac-917b2eb07b43",
              "name": "category",
              "value": "={{ $('Switch').item.json.output }}",
              "type": "string"
            },
            {
              "id": "fc100e0b-e52b-4fd1-8a7f-b51f83b499ac",
              "name": "Номер бронирования",
              "value": "={{ $json.result.alternatives[0].message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -704,
        928
      ],
      "id": "f86a59c2-2b4b-443e-bcc6-f5159fa8ed89",
      "name": "Edit Fields3"
    }
  ],
  "pinData": {},
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Номер бронирования",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "База знаний": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Номер бронирования": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets3": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets4": {
      "ai_tool": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a2a80d30-2b2d-4565-8512-7968e31ac0ac",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dc3e3d62c8ad350a1366a1b9a6883887d8696db0a9e5f2d23d00d9ce2c5a2019"
  },
  "id": "Itcakm6sD2Aup2FQ",
  "tags": []
}